# Entornos virtuales de Python
venv/
.venv/

# Archivos de caché de Python
__pycache__/
*.pyc

# Archivos de configuración de IDEs
.vscode/
.idea/

# Variables de entorno
.env

# Archivos de log
*.log

# Configuración de AWS (evita subir tus claves de acceso)
.aws/

